<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v2.0.0
* @link https://coreui.io
* Copyright (c) 2018 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">



    <title>Lịch sử giao dịch</title>
    <!-- Icons-->
    <link href="/vendors/@coreui/icons/css/coreui-icons.min.css" rel="stylesheet">
    <link href="/vendors/flag-icon-css/css/flag-icon.min.css" rel="stylesheet">
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/vendors/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">
    <link rel="stylesheet prefetch" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
    <!-- Main styles for this application-->
    <link href="/css/coreui.min.css" rel="stylesheet">
    <link href="/vendors/pace-progress/css/pace.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav ml-auto">


            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="img-avatar" src="/img/avatar1.jpg" alt="admin@bootstrapmaster.com">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="profile.html">
                        <i class="fa fa-user"></i> Profile</a>
                    <a class="dropdown-item" href="/logout">
                        <i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
        </ul>
    </header>
    <div class="app-body">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin">
                            <i class="nav-icon icon-speedometer"></i> Trang chủ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/order">
                            <i class="nav-icon icon-speedometer"></i> Quản lý đơn hàng
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/tshirt">
                            <i class="nav-icon icon-speedometer"></i> Quản lý áo thun
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/history">
                            <i class="nav-icon icon-speedometer"></i> Lịch sử giao dịch
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/coupon">
                            <i class="nav-icon icon-speedometer"></i> Coupon
                        </a>
                    </li>
                </ul>
            </nav>
            <button class="sidebar-minimizer brand-minimizer" type="button"></button>
        </div>
        <main class="main">
            <!-- Breadcrumb-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/admin">Admin</a>
                </li>
                <li class="breadcrumb-item active">Lịch sử giao dịch</li>

            </ol>
            <div class="container-fluid">
                <div class="animated fadeIn">

                    <div class="col-md-12">

                        <h4>Lịch sử giao dịch</h4>
                        <div class="card">
                            <div class="card-body">
                                <!-- Searching -->
                                <form action="/admin/findhistory" method="get">
                                    <div style="width: 100%; margin-top: 15px;">
                                        <button class="btn btn-primary" type="submit">Tìm kiếm nâng cao</button>
                                    </div>
                                </form>
                                <!-- order history -->
                                <br>
                                <table class="table table-responsive-sm table-hover table-outline mb-0">
                                    <thead class="thead-light">
                                        <tr>
                                            <th class="text-center">
                                                <i class="icon-people"></i>
                                            </th>
                                            <th>Khách hàng</th>
                                            <th>Sản phẩm</th>
                                            <th>Mã đơn hàng</th>
                                            <th>Giá tiền</th>
                                            <th class="text-center">Thanh toán</th>
                                            <th>Thời gian</th>
                                            <th>Tình trạng</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each payload.history}}
                                         {{#each this.Shirts}}
                                        <tr>
                                            <td class="text-center">
                                                <div class="avatar">
                                                    <img src="{{../this.Customer.avatar}}" class="img-avatar" alt="admin@bootstrapmaster.com">
                                                    <span class="avatar-status badge-success"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <div>{{../this.Customer.firstName}}</div>
                                            </td>
                                            <td>
                                                <div>{{this.name}}</div>
                                            </td>
                                            <td>
                                                <div>{{../this.id}}</div>
                                            </td>
                                            <td>
                                                <div>{{this.cost}}d</div>
                                            </td>
                                            <td class="text-center">
                                                {{../this.Payment.dataValues.name}}
                                            </td>
                                            <td>
                                                <strong>{{../this.createdAt}}</strong>
                                            </td>
                                            <td>
                                                <div>{{../this.status}}</div>
                                            </td>
                                        </tr>
                                        {{/each}} {{/each}}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>\
    <!-- Bootstrap and necessary plugins-->
    <script src="/vendors/jquery/js/jquery.min.js"></script>
    <script src="/vendors/popper.js/js/popper.min.js"></script>
    <script src="/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/vendors/pace-progress/js/pace.min.js"></script>
    <script src="/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script src="/vendors/@coreui/coreui/js/coreui.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
    <!-- Plugins and scripts required by this view-->
    <script src="/vendors/chart.js/js/Chart.min.js"></script>
    <script src="/vendors/@coreui/coreui-plugin-chartjs-custom-tooltips/js/custom-tooltips.min.js"></script>
    <script src="/js/admin.js"></script>
</body>

</html>