<link rel="stylesheet" href="/css/style_aoHot.css">
</head>

<body>
    <!-- Navbar -->
    <div class="navbar-master">
        {{#if payload.authenticated}} {{>loggedInNavBarInformation}} {{else}} {{>notLoggedInNavBarInformation}} {{/if}}
        <p class="line"></p>
        <div class="container">

            <div class="nav_bottom">
                <ul>
                    <li id="li_tc">
                        <a href="/">Trang Chủ</a>
                    </li>
                    <li>
                        <a href="/lamAo">Làm Áo</a>
                    </li>
                    <li>
                        <a href="/khuyenMai">Khuyến Mãi</a>
                    </li>
                    <li>
                        <a href="/aoHot">Áo Hot</a>
                    </li>
                    <li id="li_au">
                        <div>
                            <a href="/danhMuc" id="none-hover">Danh mục</a>
                            <div class="list-shirt">
                                <a href="/danhMuc/aothun">Áo thun</a>
                                <a href="/danhMuc/aocotim">Áo cổ tim</a>
                                <a href="/danhMuc/aohoddie">Áo hoddie</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="aoHot">
            <h2>Khuyến mãi</h2>
            <p>Những mẫu áo thịnh hành đang khuyễn mãi</p>
            <div class="gallery">
                <div class="row">
                    {{#each payload.shirts}}
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <div class="item">
                            <img src="{{{this.imgPath}}}" alt="">
                            <p class="info">{{{this.name}}}</p>
                            <hr>
                            <a class="cost" id="{{{this.id}}}">{{{this.costKhuyenMai}}}đ</a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
            {{{paginate pagination leftText="&lt" rightText="&gt"}}}
        </div>
    </div>
</body>